In [ ]:
import pandas as pd   #incude the file in the folder in the environment

In [6]:
df=pd.read_csv('train.csv')

In [7]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [9]:
df.dropna(inplace=True)

In [10]:
df["Sub-Category"].value_counts()

Sub-Category
Binders        1492
Paper          1336
Furnishings     931
Phones          875
Storage         831
Art             784
Accessories     754
Chairs          606
Appliances      458
Labels          357
Tables          314
Envelopes       247
Bookcases       225
Fasteners       214
Supplies        184
Machines        115
Copiers          66
Name: count, dtype: int64

In [11]:
df.drop(columns=["Row ID","Order ID","Customer ID","Customer Name", "Country","Postal Code","Region","Product ID","Category","Product Name"],inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    9789 non-null   object
 1   Ship Date     9789 non-null   object
 2   Ship Mode     9789 non-null   object
 3   Segment       9789 non-null   object
 4   City          9789 non-null   object
 5   State         9789 non-null   object
 6   Sub-Category  9789 non-null   object
 7   Sales         9789 non-null   float64
dtypes: float64(1), object(7)
memory usage: 688.3+ KB

In [13]:
df["City"].value_counts()

City
New York City    891
Los Angeles      728
Philadelphia     532
San Francisco    500
Seattle          426
                ...
San Mateo          1
Cheyenne           1
Conway             1
Melbourne          1
Springdale         1
Name: count, Length: 529, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['City'] = le.fit_transform(df['City'])

In [15]:
df["City"]

0       194
1       194
2       265
3       153
4       153
       ...
9795     80
9796    483
9797    483
9798    483
9799    483
Name: City, Length: 9789, dtype: int64

In [16]:
df["State"]=le.fit_transform(df["State"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    9789 non-null   object
 1   Ship Date     9789 non-null   object
 2   Ship Mode     9789 non-null   object
 3   Segment       9789 non-null   object
 4   City          9789 non-null   int64
 5   State         9789 non-null   int64
 6   Sub-Category  9789 non-null   object
 7   Sales         9789 non-null   float64
dtypes: float64(1), int64(2), object(5)
memory usage: 688.3+ KB

In [18]:
l=["Ship Mode","Sub-Category","Segment"]
for l in l:
    df[l]=le.fit_transform(df[l])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4821 entries, 0 to 4821
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    4821 non-null   object
 1   Ship Date     4821 non-null   object
 2   Ship Mode     4821 non-null   int64
 3   Segment       4821 non-null   int64
 4   City          4821 non-null   int64
 5   State         4821 non-null   int64
 6   Sub-Category  4821 non-null   int64
 7   Sales         4821 non-null   float64
dtypes: float64(1), int64(5), object(2)
memory usage: 339.0+ KB

In [19]:
import pandas as pd
df['Order Date'] = pd.to_datetime(df['Order Date'],format='%d/%m/%Y')
df["Ship Date"]=pd.to_datetime(df["Ship Date"],format='%d/%m/%Y')

In [20]:
df["num_days"]=(df["Ship Date"]-df["Order Date"]).dt.days

In [21]:
df

,Order Date,Ship Date,Ship Mode,Segment,City,State,Sub-Category,Sales,num_days
0,2017-11-08,2017-11-11,2,0,194,15,4,261.9600,3
1,2017-11-08,2017-11-11,2,0,194,15,5,731.9400,3
2,2017-06-12,2017-06-16,2,1,265,3,10,14.6200,4
3,2016-10-11,2016-10-18,3,0,153,8,16,957.5775,7
4,2016-10-11,2016-10-18,3,0,153,8,14,22.3680,7
...,...,...,...,...,...,...,...,...,...
9795,2017-05-21,2017-05-28,3,1,80,11,3,3.7980,7
9796,2016-01-12,2016-01-17,3,1,483,33,2,10.3680,5
9797,2016-01-12,2016-01-17,3,1,483,33,13,235.1880,5
9798,2016-01-12,2016-01-17,3,1,483,33,13,26.3760,5
9799,2016-01-12,2016-01-17,3,1,483,33,0,10.3840,5

In [22]:
df.drop(columns="Ship Date",inplace=True)

In [ ]:
df

            Ship Mode  Segment  City  State  Sub-Category     Sales  num_days
Order Date
2017-11-08          2        0   148     15             4  261.9600         3
2017-11-08          2        0   148     15             5  731.9400         3
2017-06-12          2        1   204      3            10   14.6200         4
2016-10-11          3        0   117      8            16  957.5775         7
2016-10-11          3        0   117      8            14   22.3680         7
...               ...      ...   ...    ...           ...       ...       ...
2015-12-26          3        0   293     36             1   81.5520         5
2015-12-26          3        0   293     36            14  227.1360         5
2018-06-08          3        0   266      5             3   10.3600         6
2016-04-07          3        0   343     41             1  463.2480         4
2016-04-07          3        0   343     41             0  383.0000         4

[4821 rows x 7 columns]

In [39]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

df.set_index('Order Date', inplace=True)
df2 = df.resample('D').sum()

In [40]:
train_data = df[:-300]  # Example: use all but the last 30 days for training
test_data = df[-300:]   # Example: use the last 30 days for testing

In [41]:
p, d, q = 1, 2, 1  # Example non-seasonal orders
P, D, Q, s = 1, 0, 1, 12  # Example seasonal orders (assuming monthly seasonality)


model = SARIMAX(train_data['Sales'], order=(p, d, q), seasonal_order=(P, D, Q, s))
results = model.fit()
predictions = results.get_forecast(steps=len(test_data)).predicted_mean

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  self._init_dates(dates, freq)
/usr/local/lib/python3.10/dist-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:836: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/base/tsa_model.py:836: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

In [42]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(test_data['Sales'], predictions)
print("MSE:", mse)

MSE: 228349.77385994868

In [43]:
rmse = mean_squared_error(test_data['Sales'], predictions, squared=False)
print("RMSE:", rmse)

RMSE: 477.85957546118993

In [44]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(test_data['Sales'], predictions)
print("MAE:", mae)

MAE: 209.03992887746867